/* vim:set ft=css sw=4 noet: */
body, button {
    font-family: "AU Passata", Arial, sans-serif;
}

button {
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}


body {
    margin: 0;
    background-color: #444;
}

.screen {
    width: 1024px;
    height: 768px;
    background-color: #f9f9f9;
    position: relative;
}

.set, .modal {
    position: absolute;
    width: 48%;
    height: 100%;
    top: 0;
}

.set {
    left: 0;
}

.set_header, .actions_header, .results_header {
    height: 7.5%;
    background-color: black;
    color: white;
    font-weight: bold;
    line-height: 57px;
}

.set_header {
    text-align: center;
    font-size: 40px;
}

.set_team {
    width: 230px;
    position: absolute;
    top: 7.5%;
    bottom: 0;
}

.set_team.team_left { left: 0; }

.set_team.team_right { right: 0; }

.set_team_name {
    position: absolute;
    top: 13px;
    width: 166px;
    text-align: center;
    font-size: 30px;
    line-height: 60px;
    height: 60px;
}

.set_score {
    position: absolute;
    width: 166px;
    top: 0;
}

.team_left .set_score { left: 4px; }
.team_right .set_score { right: 4px; }

.set_score_button {
    position: absolute;
    top: 74px;
    left: 0px;
    width: 166px;
    height: 166px;
    background-color: #4c9433;
    color: white;
    border-radius: 8px;
    border: 0 none black;
}

.set_score_button_score {
    font-size: 70px;
    position: absolute;
    height: 118px;
    top: 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
    line-height: 118px;
}

.set_score_button_label, .set_score_decrement {
    height: 48px;
}

.set_score_button_label, .set_score_decrement_label {
    position: absolute;
    font-size: 30px;
    text-align: center;
    font-weight: bold;
    line-height: 48px;
}

.set_score_button_label {
    left: 0;
    width: 50%;
    bottom: 0;
}

.set_score_decrement {
    position: absolute;
    top: 192px;
    right: 0;
    width: 83px;
    background-color: #d72536;
    color: white;
    border-top-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border: 0 none black;
}

.set_score_decrement_label {
    top: 0;
    left: 0;
    width: 100%;
}

.set_match_score {
    position: absolute;
    top: 82px;
    width: 53px;
    height: 53px;
    right: 0;
    background-color: black;
    color: white;
    font-size: 40px;
    text-align: center;
    line-height: 53px;
    font-weight: bold;
}

.team_right .set_match_score {
    left: 0;
}

.set_score_timeout {
    position: absolute;
    top: 269px;
    background-color: #a1a1a1;
    width: 82px;
    line-height: 39px;
    font-size: 20px;
    border: 0 none black;
}

.set_score_timeout, .results_header {
    height: 39px;
    line-height: 39px;
}

.timeout_1 {
    left: 0px;
}

.timeout_2 {
    left: 83px;
}

.team_right .timeout_1 {
    right: 0px;
}

.team_right .timeout_2 {
    right: 83px;
}

.set_substitutions, .set_lineup {
    position: absolute;
    top: 55%;
    left: 0;
    width: 100%;
    background-color: #a1a1a1;
    text-align: center;

}

.set_substitutions_title, .set_lineup_title {
    padding: 6px 4px;
    font-size: 20px;
    text-align: left;
}

.set_lineup {
    top: 75%;
}

.set_substitutions_cell, .set_lineup_cell {
    /* We use the space character between the cells to get a 4px spacing between them.
     * Kind of a hack. */
    display: inline-block;
    vertical-align: center;

    position: relative;
    width: 30%;
    margin-bottom: 4px;
    border: 1px solid #707070;
    height: 35px;
    background-color: white;
}

.set_substitutions_cell_in, .set_substitutions_cell_out {
    font-size: 15px;
    font-weight: bold;
    text-align: center;
    position: absolute;
    width: 50%;
    bottom: 40%;
}

.set_substitutions_cell_in_label, .set_substitutions_cell_out_label {
    font-size: 11px;
    text-align: center;
    position: absolute;
    width: 50%;
    bottom: 5%;
}

.set_substitutions_cell_in, .set_substitutions_cell_in_label {
    left: 0%;
}

.set_substitutions_cell_out, .set_substitutions_cell_out_label {
    left: 50%;
}

.set_substitutions_cell_add {
    background-color: transparent;
    border: 0 none black;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-weight: bold;
}

.set_lineup_cell {
    text-align: center;
    line-height: 35px;
    font-size: 20px;
    font-weight: bold;
}

.modal {
    right: 0;
    background-color: #dbdbdb;
}

.modal_contents {
    position: absolute;
    top: 7.5%;
    left: 0;
    width: 100%;
}

.actions {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

.actions_header, .result_header {
    font-size: 20px;
}

.actions_header, .result_header, .actions_list li, .results_set {
    padding-left: 12px;
}

.actions_list, .actions_list li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.actions_list {
    padding: 12px 4px;
    height: 168px; /* decrement button top minus top and bottom padding */
    overflow: auto;
}

.actions_list li {
    margin-bottom: 2px;
    background-color: #d3d3d3;
    padding-left: 8px;
    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
}

.actions_undo {
    border: 0 none black;
    background-color: #d72536;
    color: white;
    height: 48px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
}

.results {
    position: absolute;
    top: 269px;
    left: 0;
    width: 100%;
}

.results_header {
    padding-left: 12px;
    font-size: 20px;
}

.results_table {
    width: 100%;
    font-size: 20px;
    margin-top: 24px;
}

.results_table td, .results_table th {
    background-color: #d3d3d3;
    text-align: center;
    line-height: 32px;
}

.results_table .results_topleft {
    background-color: transparent;
}

.results_total {
    font-size: 24px;
}

.results_total, .results_winner {
    font-weight: bold;
}

td.results_set {
    text-align: left;
}

.scroller {
    display: inline-block;
    height: 100%;
    width: 40%;
    overflow: auto;
}

.set_score_timeout .scroller {
    vertical-align: middle;
    height: 1px;
    width: 36px;
    padding: 19px 0;
    text-align: center;
}

.set_score_timeout .scroller_value {
    height: 22px;
    line-height: 22px;
}

.set_score_timeout .scroller_selected {
    font-weight: bold;
}
